@font-face {
    font-family: neosanspro;
    src: url("/fonts/NeoSans/NeoSansPro-Regular.ttf");
}

@font-face {
    font-family: neosanspro_ultra;
    src: url("/fonts/NeoSans/NeoSansPro-Ultra.ttf");
}

@font-face{
    font-family: neosanspro_bold;
    src: url("/fonts/NeoSans/NeoSansPro-Bold.ttf");
}

@font-face {
    font-family: neosanscyr_regular;
    src: url("/fonts/NeoSans/NeoSansCyr-Regular.ttf");
}

@font-face {
    font-family: neosanspro_light;
    src: url("/fonts/NeoSans/NeoSansPro-Light.ttf");
}

@font-face {
    font-family: neosanspro_medium;
    src: url("/fonts/NeoSans/NeoSansPro-Medium.ttf");
}

html{

}

body{
    margin: 0;
    /*background-image: url("/image/main_1170px.png");*/
    background-image: url("/image/background.jpg");
    background-size: 1300px auto;
    background-repeat: no-repeat;
}

.header{
}

.row{
    /*border: solid white;*/
}

.login{
    float: none;
    padding-top: 42px;
    text-align: center;
    position: relative;
    transform: translateX(29%);
}

.login a{
    font-family: neosanspro;
    font-size: 11px;
    padding-left: 0px;
    padding-right: 6px;
}

@media (max-width: 768px) {
    .login{
        float: none;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 59px;
        text-align: center;
    }

    .nav1{
        float: none;
        text-align: center;
    }

    .nav2{
        float: none;
        text-align: center;
    }
}

.logo{
    /*border: solid white;*/
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    top: -43px !important;
}

.col-xs-5, .col-xs-2{
    /*border: solid white;*/
}

.nav1{
    padding-top: 22px;
    float: right;
}
.nav1 a{
    color: white;
    font-size: 16px;
    padding-left: 46px;
    font-family: neosanspro;
    white-space: nowrap;
}

.nav2 a{
    color: white;
    font-size: 16px;
    padding-right: 48px;
    font-family: neosanspro;
}

.nav2{
    float: left;
    padding-top: 22px;
    padding-left: 10px;
}

.name h2, .content h3, .text h5, .motto h2, input[type=submit]{
    color: white;
}

.name h1{
    font-family: neosanspro_ultra;
    font-size: 30px;
    white-space: nowrap;
    color: white;
}

.name {
    position: absolute;
    left: 50%;
    top: 68px;
    transform: translateX(-50%);
    padding-top: 0px;
}

.name h2{
    text-align: center;
}

.content{
    position: relative;
    text-align: center;
    padding-left: 0px;
}

.content h2{
    padding-top: 6px;
    font-family: neosanspro_bold;
    font-size: 22px;
    color: white;
}

.content span{
    color: white;
    font-size: 35px;
}

.shield{
    position: relative;
    text-align: center;
}

.text1 h4{
    font-family: neosanspro_bold;
    font-size: 14px;
    color: white;
}

.hands {
    position: relative;
    text-align: center;
}

.text2 h4{
    font-family: neosanspro_bold;
    font-size: 14px;
    color: white;
}

.weigher{
    position: relative;
    text-align: center;
}

.text3 h4{
    font-family: neosanspro_bold;
    font-size: 14px;
    color: white;
}

@media (max-width: 768px) {
    .shield{
        float: none;
        text-align: center;
        padding-right: 0px;
    }
    .hands{
        /*float: none;*/
        text-align: center;
    }
    .weigher{
        float: none;
        padding-top: 36px;
        padding-left: 0px;
        text-align: center;
    }
}

.motto h3{
    text-align: center;
    font-family: neosanspro;
    font-size: 26px;
    text-shadow: 6px 5px 4px rgba(0, 0, 0, 0);
    color: white;
}

.form-group input[type=submit]{

}

.motto{
    position: relative;
}

.button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: medium solid orange;
    width: 195px;
    height: 36px;
    padding-top: 4px;
    text-align: center;
    font-family: neosanspro_bold;
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.signature{
    color: gray;
}

.signature1{
    text-align: center;
    position: relative;
    font-family: neosanspro_light;

}

.signature2{
    position: relative;
    text-align: center;

    font-family: neosanspro_light;
    padding-top: 2px;
    font-size: 13px;
    color: white;
}

.signature3{
    position: relative;
    left: 50%;
    font-family: neosanspro_light;
    padding-top: 2px;
    font-size: 13px;
    color: white;
    float: left;
}

.signature3 p::after{
    content: url("/image/web_studio.png");
    display: block;
    float: right;
}

.picture{
    float: left;
    padding-right: 3px;
}
.sign{
    float: left;
    padding-top: 3px;
    font-size: 13px;
    color: white;
}

